body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3edf3;
  color: rgb(20, 19, 19);

}

.book-title {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.detalle-container {
  display: flex;
  padding: 40px;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
  
}

.imagen-libro img {
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.contenido-libro {
  flex: 1;
}

.titulo-libro {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.autor-libro {
  color: #0f0f0f;
  font-weight: 500;
  margin: 5px 0;
}

.anio-paginas {
  color: #0c0c0c;
  margin-bottom: 10px;
}

.etiquetas span {
  background-color: #1c2b3a;
  color: #99c7ff;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
}

.botones {
  margin: 20px 0;
}

.btn-principal,
.btn-secundario {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.btn-principal {
  background-color: #9b94c5;
  color: white;
}

.btn-principal:hover {
  background-color: #c6c0e7;
}

.btn-secundario {
  background-color: #9b94c5;
  color: white;
  border: 1px solid white;
}

.btn-secundario:hover {
  background-color: #c6c0e7;
}

.descripcion {
  margin-top: 15px;
  line-height: 1.5;
  color: #080808;
}
