body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3edf3;
}

header {
  background-color: hsl(249, 30%, 68%);
  color: white;
  padding: 30px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}


.search-bar {
    text-align: center;
    padding: 1rem;
    background-color: #e8e8e8;
}

.search-bar input {
    width: 40%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.login-btn {
  background-color: #f7f6fa;
  color: blue;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none; 
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.book-list {
    display: flex; 
    gap: 1rem;
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 1rem;
}

.book-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: calc(20% - 1rem); 
  height: 400px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.book-card img {
  width: 160px;
  margin: 0 auto;
  height: 240px;
  border-radius: 5px;
}

.book-card h3 {
    margin: 0.5rem 0 0.5rem;
    font-size: 1.1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  background-color: #b0a7e0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #7e78aa;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#page-info {
  font-size: 1rem;
  color: #333;
}


/* Oculta el submenú por defecto */
.menu-toggle {
  position: relative;
}

.menu-toggle .dropdown {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 12px; 
  z-index: 100;
  min-width: 150px;
}

.menu-toggle:hover .dropdown {
  display: block;
  border-radius: 12px; 
}

.menu-toggle .dropdown li {
  padding: 10px;
  border-radius: 12px; 
}

.menu-toggle .dropdown li a {
  text-decoration: none;
  color: black;
  display: block;
}

.menu-toggle .dropdown li:hover {
  background-color: #ece9f5;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

/* boton de guardado */
.card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-details {
  background-color: #6c63ff;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.save-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6c63ff;
  transition: transform 0.2s ease, color 0.3s ease;
}

.save-btn:hover {
  transform: scale(1.1);
  color: #6c65a1;
}

.icon-bookmark.saved {
  color: #6c65a1; 
}
